<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.totallearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity android:name=".SwipeScrollRecyclerActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TestActivity" />

        <service android:name=".serviceset.TestService" />

        <activity android:name=".mvp_set.demo1.LoginActivity" />
        <activity android:name=".fragmentset.frag04.OkhttpActivity" />
        <activity android:name=".recyclerviewlearn.RCpicture.RecyclerActivity" />
        <activity android:name=".recyclerviewlearn.RClayoutmanager.RcLMActivity" />
        <activity android:name=".PdfActivity" />
        <activity android:name=".new_view_test.DrawerTestActivity" />
        <activity android:name=".thrid_party_view.EasyActivity" />
        <activity android:name=".new_view_test.DrawerNavigationActivity" />
        <activity android:name=".dagger_learn.mvp_login.LoginDaggerActivity" />
        <activity android:name=".dagger_learn.register_login.RegisterLoginActivity" />
        <activity android:name=".dagger_learn.register_login_4.RegisterLogin_4Activity" />
        <activity android:name=".dagger_learn.register_login_4.Login_4Activity" />
        <activity android:name=".dagger_learn.register_login_6.RegisterLogin_6Activity" />
        <activity android:name=".dagger_learn.register_login_6.Login_6Activity" />
        <activity android:name=".dagger_learn.register_login_7.Login_7Activity" />
        <activity android:name=".time_test.TimeActivity" />
        <activity android:name=".fragmentset.frag04.RxjavaActivity" />
        <activity android:name=".mvvm_set.MvvMActivity"></activity>
    </application>

</manifest>